.progress-bar-wrap {
    width: 100%;
    
    // background-color: $accentColor1;
    border-radius: 5px;
    .progress-bar-status {
        // width: 50px;
        
        border-radius: 4px;
    }
   
}