.trending-theme-wrap {
    width: 100%;
    .trending-theme-num {
        color: $accentColor0;
        font-weight: 900;
        font-size:30px;
    }
    .mentions {
        color: $font-color-ultralight;
        font-size: 14px;
    }
}